<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="uploadFilesPath" value="d:\a\r1\a\_RCS-Cosmetics-Automation-Artifacts\drop\SeleniumTests\UploadFiles\"/>
    <Parameter name="cosmeticsConnectionString" value="Server=tcp:cosmetics.database.windows.net,1433;Initial Catalog=Cosmetics;Persist Security Info=False;User ID=cosmetics_user;Password=leniluvCosmo1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <Parameter name="identityConnectionString" value="Server=tcp:cosmetics.database.windows.net,1433;Initial Catalog=rcs-cosmetics-identity;Persist Security Info=False;User ID=cosmetics_user;Password=leniluvCosmo1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </TestRunParameters>
</RunSettings>