<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="uploadFilesPath" value="C:/Users/alexandru.lapuste/source/repos/RCoS-Automation/UploadFiles/"/>
    <Parameter name="baseURL" value="https://rcs-cosmetics-client-dev.azurewebsites.net/home"/>
  </TestRunParameters>
</RunSettings>