<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="uploadFilesPath" value="C:/Users/alexandru.lapuste/source/repos/RCoS-Automation/UploadFiles/"/>
    <!--<Parameter name="baseURL" value="https://localhost:5003/home"/>-->
    <Parameter name="baseURL" value="https://rcs-cosmetics-client-dev.azurewebsites.net/home"/>
    <Parameter name="cosmeticsConnectionString" value="Server=tcp:cosmetics.database.windows.net,1433;Initial Catalog=Cosmetics;Persist Security Info=False;User ID=cosmetics_user;Password=leniluvCosmo1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <Parameter name="identityConnectionString" value="Server=tcp:cosmetics.database.windows.net,1433;Initial Catalog=rcs-cosmetics-identity;Persist Security Info=False;User ID=cosmetics_user;Password=leniluvCosmo1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </TestRunParameters>
</RunSettings>